.sign-in-and-sign-up {
  display: flex;
  justify-content: space-between;
}

.Sign {
  margin: 2rem;
  padding: 2em;
  width: 40vw;
}

.Sign .title {
  padding-bottom: 1.5em;
  font-size: 2rem;
}
.Sign .subtitle {
  margin-bottom: 2.5em;
}
.Sign .form-field {
  margin-top: 1em;
}

.input:focus {
outline: none !important;
  border: 0.5px solid #b1922d !important;
  box-shadow: 0 0.5px 0 0 #b1922d !important;
}
.button {
 /* text-decoration: none;
  color: #fff;
  text-align: center;
  outline: 0;
  border: none;
  border-radius: 5px;
  line-height: 1.5em;
  padding: 1em;  */
   color: #b1922d;
  text-transform: uppercase; 
}

.button:hover,.button:focus,.button:active{
   background-color: #b1922d;
   color: #fff;
    font-weight: 700;
}

.Sign-buttons {
  /* display: flex;
  justify-content: space-between; */
   /* margin: 3em 1.2rem;  */
} 

.Sign button[type="submit"] {
  background-color: #b1922d;
}

#google-button {
  background-color: #4c8bf5;
}

@media (max-width: 1055px) {
  .Sign .Sign-buttons {
    display: block;
    padding: 0.5em;
  }
  #google-button{}
  .Sign .button {
    margin: 0.5em 0;
    padding: 0.5em;
  }
}
